{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Termos</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
    <h1>FUNCOOOOOOO!!!!111!!</h1>

        {% for t in termos %}
            {{ t.color  }} - {{ t.marca }} - {{ t.capacidad }} <br>
        {% endfor %}

    </body>
</html>
